

.orange{
    background-color:orange;
}

.blue{
    background-color:blue;
}

.gray{
    background-color:gray;
}

.light-brown{
    background-color:lightbrown;
}

.light-pink{
    background-color:lightpink;
}

.white{
    background-color: white;
}

.green{
    background-color: rgb(0, 150, 88);
}

.brown{
    background-color: brown;
}
